<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sentiment Analysis App{% endblock %}</title>
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Sentiment Analysis App</h1>
        <nav>
            <a href="{{ url_for('main.index') }}">Home</a>
            {% if not session.get('user') %}
                <a href="{{ url_for('register') }}">Register</a>
                <a href="{{ url_for('login') }}">Login</a>
            {% else %}
                <a href="{{ url_for('sentiment') }}">Analyze Sentiment</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Sentiment Analysis App</p>
    </footer>
</body>
</html>
